# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default file owners
* @bitwarden/dept-shot

# Docker-related files
**/Dockerfile @bitwarden/team-appsec @bitwarden/dept-shot
**/*.dockerignore @bitwarden/team-appsec @bitwarden/dept-shot
**/entrypoint.sh @bitwarden/team-appsec @bitwarden/dept-shot
**/docker-compose.yml @bitwarden/team-appsec @bitwarden/dept-shot

# Bitwarden lite
.github/workflows/build-bitwarden-lite.yml @bitwarden/dept-shot
bitwarden-lite/ @bitwarden/dept-shot

# Release workflows
.github/workflows/release-digital-ocean.yml @bitwarden/dept-bre
.github/workflows/release.yml @bitwarden/dept-bre
